

// 背景图片地址和大小
background-image($url) {
	background-image: url($url);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position center
}

// 圆角
border-radius($radius) {
   -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}
//
