//主要的
$color-main-bg = #262a42 //主背景颜色
$color-second-bg = #202437 //次要背景颜色
$color-main-font = #c7cce6 //主字体颜色
$color-second-font = #a7b6c8 //次要字体颜色
$color-main-border = #4e5b85 //主边框颜色

//填充
$color-main-fill-bg = #181b2a //主要填充背景颜色
$color-second-fill-bg = #1e2235 //主要填充背景颜色

//滚动条
$color-scrollbar-bg-thumb = rgba(97,104,138,.15) //滚动条颜色
$color-scrollbar-bg-track = #181b2a //滚动条背景颜色

//表格
$color-table-font-head = #61688a //表格头文字
$color-table-font-tips = #969bb4 //表格其他内容文字
$color-table-border-in = #1e2842 //表格内边框
$color-table-bg-title = #2c314c //表格标题背景
$color-table-bg-content-hover = #1e2235 //表格内容hover背景

//按钮
$color-button-bg-hollow-hover = #161926 //空心按钮hover背景32364e
$color-button-bg-solid = #7a98f7 //实心按钮背景
$color-button-bg-solid-hover = #556aac //实心按钮背景

//输入框
$color-input-bg = #1e2235 //背景颜色
$color-input-bg-hover = #262a42 //背景颜色

//主页马上交易
$color-index-bg = #202437 //背景颜色

//footer样式
$color-footer-bg = #181b2a //背景颜色
$color-footer-title = #b8c2e0 //标题颜色
$color-footer-link = #575c81 //选项颜色
$color-footer-line = #575c81 //分界线颜色
