//主要的
$color-main-bg = #f2f3f8 //主背景颜色
$color-second-bg = #f8f9fa //次要背景颜色
$color-main-font = #232a4a //主字体颜色
$color-second-font = #61657e //次要字体颜色
$color-main-border = #d1d3df //主边框颜色

//滚动条
$color-scrollbar-bg-thumb = hsla(231,9%,61%,.15) //滚动条颜色
$color-scrollbar-bg-track = #fff //滚动条背景颜色

//表格
$color-table-font-head = #62677f //表格头文字
$color-table-font-tips = #9194a4 //表格其他内容文字
$color-table-border-in = #edeef1 //表格内边框
$color-table-bg-title = #edeef4 //表格标题背景
$color-table-bg-content-hover = #ffffff //表格内容hover背景

//按钮
$color-button-bg-hollow-hover = #32364e //空心按钮hover背景
$color-button-bg-solid = #15b4f1 //实心按钮背景
$color-button-bg-solid-hover = #0f7ea8 //实心按钮背景

//输入框
$color-input-bg = #fff //背景颜色

//主页马上交易
$color-index-bg = #474e70 //背景颜色

//footer样式
$color-footer-bg = #f4f4f4 //背景颜色
$color-footer-title = #a7a7a7 //标题颜色
$color-footer-link = #454545 //选项颜色
$color-footer-line = #cccccf //分界线颜色
